* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

.col-16 {
  width: 100%;
}

.col-15 {
  width: calc((100% / 15) * 11);
}

.col-14 {
  width: calc((100% / 14) * 11);
}

.col-13 {
  width: calc((100% / 13) * 11);
}

.col-12 {
  width: calc((100% / 16) * 12);
}

.col-11 {
  width: calc((100% / 16) * 11);
}

.col-10 {
  width: calc((100% / 16) * 10);
}

.col-9 {
  width: calc((100% / 16) * 9);
}

.col-8 {
  width: calc((100% / 16) * 8);
}

.col-7 {
  width: calc((100% / 16) * 7);
}

.col-6 {
  width: calc((100% / 16) * 6);
}

.col-5 {
  width: calc((100% / 16) * 5);
}

.col-4 {
  width: calc((100% / 16) * 4);
}

.col-3 {
  width: calc((100% / 16) * 3);
}

.col-2 {
  width: calc((100% / 16) * 2);
}

.col-1 {
  width: calc(100% / 16);
}
